<manifest>
    <application android:debuggable="false" android:allowBackup="false">
        <activity>
            <intent-filter android:exported="false">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>